html{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
}

.row{
    height: 100%;
}

.container-fluid{
    height: 100%;
    width: 100%;
    background-color: #181921;
}

.bg-menu{
    background-color: #252831;
    height: 100%;
    padding-top: 45px;
    width: 100%;
}

.logo{
    text-align: center;
}

.logo img{
    width: 15%;
}

.logo h4{
    color:#9da5b9;
    font-size: 17px;
    text-align: center;
    display: inline;
    vertical-align: middle;
}

.nav-item{
    margin-bottom: 15px;
}

.section{
    color: #ABB2C6;
}

.section:hover{
    transition: 0.5s;
    color: #89CCFE;
    border-left: solid 2px #89CCFE;
    margin-left: 20px;
}

.icons{
    width: 100%;
    text-align: right;
    margin-top: -10px;
}

.rounded-pill{
    background-color:#242732
}

.calendar{
    background-color: #242732;
    border-radius: 20px;
    width: 100%;
}

.total-customer{
    background-color: #242732;
    width: 100%;
    border-radius: 20px;
}

.total-revenue{
    background-color: #242732;
    width: 100%;
    border-radius: 20px;
}
.total-profit{
    background-color: #242732;
    width: 100%;
    border-radius: 20px;
}

.total{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.date-select{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 20px;
}

.date-select p{
    display: inline;
    vertical-align: middle;
}

.jour{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 50px;
}

.jour-num{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 40px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.jour-num .day{
    background-color: #181921;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 50%;
    padding-top: 7px;
}

.actual-day{
    background-color: #60C8FB;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 50%;
    padding-top: 7px;
    color: #181921;
}

#map{
    height: 260px;
    width: 500px;
}
